body, section{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
    height: 100%;
    width: 100%;
}
body, html{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.color-div{
    background-color: rgb(29, 28, 28);;
    width: 50%;
    height: 60%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
.TEXTO{
    padding-top: 10%;
    text-align: center;
}
.titulo{
    font-size: 30px;
    padding-bottom: 1rem;
}

.subtitulo{
    font-size:  20px;
    padding-top: 1rem;
}
#borda{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    height: 95%;
    width: 97.5%;
    border-radius: 7px;
}
#logo img{
    width: 200px;
}
.redondinha{
    position: absolute;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    top: 82%;
    height: 5em;
    width: 5em;
    border-radius: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    color: black;
}
.redondinha:hover{
    transition: .3s;
    color: white;
    background-image: linear-gradient(to right top, #2e945a, #008b70, #008080, #007487, #006784, #065f89, #27568b, #424b87, #6c3b80, #8e2067, #a10040, #a0040e);
}
.redondinha p{
    overflow: hidden;
}

@media (max-width: 654px) {
    .titulo{
        font-size: 20px;
        padding-bottom: 1rem;
    }
    
    .subtitulo{
        font-size:  10px;
        padding-top: 1rem;
    }
    .redondinha{
        right: 40%;
    }
    .color-div{
        background-color: rgb(29, 28, 28);;
        width: 90%;
        height: 60%;
    }
}
@media (max-width: 942px) {
    .redondinha{
        right: 40%;
    }
}
@media (max-width: 542px) {
    .redondinha{
        right: 38%;
    }
}
@media (max-width: 300px) {
    .redondinha{
        right: 35%;
    }
}
/*
.redondinha.animada:hover{
    animation: loading 2s linear infinite;
}
@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.redondinha img{
    width: 4rem;
    height: 4rem;
}
*/
.ali{
    position: absolute;
    top: 82%;
    right: 1.99%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}