.codigo {
    overflow-x: auto;
    padding: 1rem;
    color: #abb2bf;
    background: #282c34;
    background-color: #282c34;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    user-select: text;
    word-break: break-word;
    border-radius: 7px;
}

.funcao {
    color: #c79202;
}

.nome-fun {
    color: #f5b814;
}

.retorna {
    color: #c79202;
}

.numero {
    color: #0687c7;
}

.dentro {
    padding-left: 1rem;
}

.circulo {
    background-color: rgb(241, 241, 241);
    color: rgb(215, 5, 5);
    padding: 0.2rem;
    border-radius: 5px;
}

.img-sec {
    object-fit: cover;
    width: 100%;
    height: 20rem;
}

.string-print {
    color: #267006;
}

.print {
    color: #7f83db;
}

.comentario {
    color: gray;
}

.chaves-print {
    color: rgb(226, 109, 0);
}

.int {
    color: #7f83db;
    ;
}

.comando {
    color: rgb(226, 109, 0);
}

.espaço {
    padding-left: 2rem;
}


.texto-r img {
    width: 100%;
    border-radius: 10px;
}

.texto-r .img-sec {
    width: 50%
}

@media (width:1807px) {
    .texto-r .img-sec {
        width: 70%
    }
}

.comando-azul {
    color: #6e46e8;
}

.dentro2x {
    padding-left: 6rem;
}

.espaço2x {
    padding-left: 4rem;
}

.for-azul {
    padding: 2px 4px;
    font-size: 90%;
    color: #0162e0;
    background-color: #a4d2f5;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}

.for-azul:hover {
    padding: 2px 4px;
    font-size: 90%;
    color: #b60f03;
    background-color: #f5a4a4;
    border-radius: 4px;
    transition: .3s;
    cursor: pointer;
}

.comando-avermelhado {
    color: rgb(163, 52, 0);
}