.codigo{
    overflow-x: auto;
    padding: 1rem;
    color: #abb2bf;
    background: #282c34;
    background-color: #282c34;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    user-select: text;
    word-break: break-word;
    border-radius: 7px;
}
.funcao{
    color: #c79202;
}
.nome-fun{
    color: #f5b814;
}
.retorna{
    color: #c79202;
}
.numero{
    color: #0687c7;
}
.dentro{
    padding-left: 1rem;
}
.circulo{
    background-color: rgb(241, 241, 241);
    color: rgb(215, 5, 5);
    padding: 0.2rem;
    border-radius: 5px;
}
.img-sec{
    object-fit: cover;
    width: 100%;
    height: 20rem;
}
.string-print{
    color: #267006;
}
.print{
    color: #7f83db;
}
.comentario{
    color: gray;
}
.chaves-print{
    color: rgb(226, 109, 0);
}
.texto-r img{
    width: 100%;
    border-radius: 10px;
}
.texto-r .img-sec{
    width: 50%
}
@media (width:1807px) {
    .texto-r .img-sec{
    width: 70%
    }
}