.inicio-tag{
    color: rgb(17, 176, 216);
}
.codigo{   
        overflow-x: auto;
        padding: 1rem;
        color: #abb2bf;
        background: #282c34;
        background-color: #282c34;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        user-select: text;
        word-break: break-word;
        border-radius: 7px;
    }

.html{
    color: rgb(245, 12, 206);
}
.docs{
    color: rgb(6, 185, 39);
}
.text{
    color: rgb(255, 255, 255);
}
.aspas{
    color: burlywood;
}
.arrumaimg{
object-fit: cover;
display: flex;

}