@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Barlow+Condensed&family=Silkscreen&display=swap');

/*
╭――――――――――――――――――╮
│                  │
│       tags       │
│                  │
╰――――――――――――――――――╯
*/
body{ /*seta o estilo do body  reseta algumas propriedades*/
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(1deg, #000000
    1%, #07340C 100%);
    background-repeat: no-repeat;
    background-color: #000000;
}

html{/*reseta html*/
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    flex-direction: column;/*alinha em colunas*/
}


.princ-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-prin{
    padding: 1rem;
    font-size: 24px;
}

.copy{/*direitos autorais*/
    font-size: 20px;
}

footer{
    flex-shrink: 0; /*emm tese faz ele ficar em baixo*/
    background-color: rgb(29, 28, 28);
    color: white;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 48.1rem;
    height: 17rem;
}

.rede-social{
    display: flex;
    width: 100%;
    justify-content: center;
}
.face img{
    margin: 1rem;
    width: 50px;
}

.link img{
    width: 50px;
    margin: 1rem;
}
.git img{
    width: 50px;
    margin: 1rem;
}

#logo{
    width: 5.2rem;
    padding-top: 0rem;
}

/*
╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳
╭――――――――――――――――――╮
│                  │
│ correção bug mob │
│                  │
╰――――――――――――――――――╯
╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳
*/

@media (max-width: 755px) {
    .footer{
        height: 300px;
    }
}
@media (max-height: 1000px) {
    .main-div{
        top: 45rem;
    }
    #logo{
        padding-top: 0rem;
    }

}
@media (max-width: 755px) {
    .footer{
        width: 100%;
        height: 320px;
        position: relative;
        top: 0%;
    }
    .main-div{
    position: relative;
    top: 0%;
    width: 100%;
    left: 0%;
    }
}

#section-content{
    width: 84%;
    display: block;
    justify-content: center;
}
section{
    display: flex;

}

#menu-lat{
    background-color: aliceblue;
    height: 100vh;
    width: 220px;
}
#menu-esquerdo ul li a{
    color: #000000;
    text-decoration: none;
    padding: 1rem;
    width: 100%;
    border-bottom: 1px solid lightgray;
    
}
#menu-esquerdo ul li{

    display: flex;
    
}

#menu-esquerdo ul li a:hover{
    color: #000000;
    background-color: gray;

}
#restante{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#titulo{
    padding: 1rem;
    font-size: 50px;
    color: white;
    background-color: darkgray;
    width: 100%;
    height: 4rem;
    text-align: center;
}
#block{
    display: block;
}
