/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=--=
= estilos do carrossel em si =
=-=-=-=-=-=-=-=-=-=-=-=-=-=--=
*/

.slider {
    margin: 0 auto;
    height: 517px;
    /*altura da div (não é das imgs)*/
    width: 730px;
    /*largura da div */
    border-radius: 20px;
    overflow: hidden;
    /* faz com que as imagens que nao estajam no tamanho da div nao hora sejam escondidas*/
    position: absolute;
    /*posição absoluta na pagina*/
    top: 25rem;
    /*distancia do top*/
    left: 50%;
    /*distancia da esquerda*/
    transform: translate(-50%, -60%);
    /*ajustes de distancia*/
}

.slides {
    width: 500%;
    /*cada imagem é 100% por isso ele tem de ser 500*/
    height: 520px;
    display: flex;
    /*faz a imagem ficar uma ao lado da outra*/
}

.slides input {
    display: none;
    /*inouts invisiveis*/
}

.slide {
    width: 20%;
    /*20% de 500% ou seja 100%*/
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
}

/*
=-=-=-=-=-=-=-=
= manual btns =
=-=-=-=-=-=-=-=
*/

.manual-navigation {
    /*div dos botões que o user aperta para mudar os slides*/
    position: absolute;
    width: 730px;
    /*mesma do slider para que fique no centro*/
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    width: 70px;
    /*botões do user em si*/
    height: 17px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
}

.manual-btn:hover {
    /*ára ficar branco quando passar o mouse*/
    background-color: white;
}

/*
=-=-=-=-=
=radios =
=-=-=-=-=
*/

#radio1:checked~.first {
    /*quando o botçao 1 estiver checado
    a margin vai ser 0 pois vai mostrar a primeira
    imagem e depois subtrai 20% para as imagens rodarem
    para esqueda (20% de 500%) */
    margin-left: 0;
    transition: 1s;
}

#radio2:checked~.first {
    margin-left: -20%;
    transition: 1s;
}

#radio3:checked~.first {
    margin-left: -40%;
    transition: 1s;
}

#radio4:checked~.first {
    margin-left: -60%;
    transition: 1s;
}

#radio5:checked~.first {
    margin-left: -80%;
    transition: 1s;
}


/*
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
= NAVEGAÇÃO AUTOMATICA COM JS =
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
*/

.navigation-auto div {
    /*estilos dos botoes em si*/
    width: 70px;
    height: 17px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .6s;
}

.navigation-auto {
    /*estilo da div que contém os botões*/
    position: absolute;
    width: 730px;
    /*mesma largura do slider para centralizar*/
    margin-top: 479.7px;
    display: flex;
    justify-content: center;
}

/* faz a cor dos bot~pes ficar branca quando são automaticamente selecionados*/
#radio1:checked~.navigation-auto .btn-1 {
    background-color: white;
}

#radio2:checked~.navigation-auto .btn-2 {
    background-color: white;
}

#radio3:checked~.navigation-auto .btn-3 {
    background-color: white;
}

#radio4:checked~.navigation-auto .btn-4 {
    background-color: white;
}

#radio5:checked~.navigation-auto .btn-5 {
    background-color: white;
}

@media (max-width:750px) {

    /*gambiarra pra não dar erro*/
    .slider {
        display: none;
    }
}